<!--
################################################################
#															  #
#		ROS Gas dispersion simulator						   #
#						   								   #
################################################################
-->
<launch>
	### GLOBAL VARS ###
	# GASES: ethanol=0; methane=1; hydrogen=2; propanol=3; chlorine=4; flurorine=5; acetone=6; neon=7; helium=8; hot air=9
	<arg name="FixedFrame" default="/map" />
	
	### NODE environment (for RVIZ visualization) ###
	<node pkg="environment" type="environment" name="environment" output="screen">		
		<param name="/fixed_frame" value="$(arg FixedFrame)"/>

		<param name="/number_of_sources"   value="7"/>	
		<param name="/source_0_position_x" value="-2.5"/>
		<param name="/source_0_position_y" value="-3.0"/>
		<param name="/source_0_position_z" value="1"/>
		
  		<param name="/source_1_position_x" value="2.5"/>
		<param name="/source_1_position_y" value="-3.0"/>
		<param name="/source_1_position_z" value="1"/>
		
   		<param name="/source_2_position_x" value="0.5"/>
		<param name="/source_2_position_y" value="-1.5"/>
		<param name="/source_2_position_z" value="1"/>
		
   		<param name="/source_3_position_x" value="1.5"/>
		<param name="/source_3_position_y" value="0.5"/>
		<param name="/source_3_position_z" value="1"/>
		
   		<param name="/source_4_position_x" value="-4"/>
		<param name="/source_4_position_y" value="2"/>
		<param name="/source_4_position_z" value="1"/>
		
   		<param name="/source_5_position_x" value="-0.5"/>
		<param name="/source_5_position_y" value="3.5"/>
		<param name="/source_5_position_z" value="1"/>
		
   		<param name="/source_6_position_x" value="4"/>
		<param name="/source_6_position_y" value="5"/>
		<param name="/source_6_position_z" value="1"/>
		
		<param name="/occupancy3D_data" value="/home/andy/Software/source/ros/dataset/gas_simulator/OccupancyGrid3D.csv" />
		
		<param name="/number_of_CAD" value="5"/>
		<param name="/CAD_0" value="package://environment/CADmodels/MAPIRlab_furniture/MAPIRlab_furniture_walls_cad_model.dae"/>
		<param name="/CAD_1" value="package://environment/CADmodels/MAPIRlab_furniture/MAPIRlab_furniture_windows_cad_model.dae"/>
		<param name="/CAD_2" value="package://environment/CADmodels/MAPIRlab_furniture/MAPIRlab_furniture_doors_cad_model.dae"/>
		<param name="/CAD_3" value="package://environment/CADmodels/MAPIRlab_furniture/MAPIRlab_furniture_tables_cad_model.dae"/>
		<param name="/CAD_4" value="package://environment/CADmodels/MAPIRlab_furniture/MAPIRlab_furniture_wardrobes_cad_model.dae"/>
	</node>
	
	
 
	### Filament Simulator (Wind1 SourceC) ###
	<node pkg="filament_simulator" type="filament_simulator" name="filament_simulator3" output="screen">		
		<param name="/sim_time" value="300" />			### [sec] Total time of the gas dispersion simulation
		<param name="/time_step" value="0.1" />			### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
		<param name="/num_filaments_sec" value="10" />		### Num of filaments released each second	   
		<param name="/ppm_filament_center" value="10"/>		### [ppm] Gas concentration at the center of the 3D gaussian (filament)
		<param name="/filament_initial_std" value="10"/>	### [cm] Sigma of the filament at t=0-> 3DGaussian shape
		<param name="/filament_growth_gamma" value="10"/>	### [cm²/s] Growth ratio of the filament_std
		<param name="/filament_noise_std" value="0.02"/>	### [m] Range of the white noise added on each iteration
		<param name="/gas_type" value="0" />			### 0=Ethanol, 6=Acetone
		<param name="/temperature" value="298"/>		### Kelvins
		<param name="/pressure" value="1"/>			### Atm   		
		<param name="/concentration_unit_choice" value="1"/>	### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)				
				
		# In the Env.csv file we set: cell_size, num_cells, etc.
		<param name="/occupancy3D_data" value="/home/andy/Software/source/ros/dataset/gas_simulator/OccupancyGrid3D.csv" />
		<param name="/fixed_frame" value="$(arg FixedFrame)"/>
		
		<param name="/wind_data" value="/home/andy/Software/source/ros/dataset/gas_simulator/wind_at_cell_center_points_" />
		<param name="/wind_time_step" value="1" />		### (sec) time increment between Wind snapshots		
		
		<param name="/source_position_x" value="0.5"/>		### (m)
		<param name="/source_position_y" value="-1.5"/>		### (m)
		<param name="/source_position_z" value="1"/>		### (m)
		
		<param name="/save_results" value="1" />		### 1=true, 0=false
		<param name="/restuls_time_step" value="0.5" />  	### (sec) Time increment between saving state to file
		<param name="/results_location" value="/home/andy/Software/source/ros/dataset/gas_simulator/Ethanol_C" />
	</node> 
	
 <!--  
	### Filament Simulator (E) ###
	<node pkg="filament_simulator" type="filament_simulator" name="filament_simulator2" output="screen">		
		<param name="/sim_time" value="300" />					### [sec] Total time of the gas dispersion simulation
		<param name="/time_step" value="0.1" />				   ### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
		<param name="/num_filaments_sec" value="10" />			### Num of filaments released each second	   
		<param name="/ppm_filament_center" value="10"/>		   ### [ppm] Gas concentration at the center of the 3D gaussian (filament)
		<param name="/filament_initial_std" value="10"/>		  ### [cm] Sigma of the filament at t=0-> 3DGaussian shape
		<param name="/filament_growth_gamma" value="10"/>		 ### [cm²/s] Growth ratio of the filament_std
		<param name="/filament_noise_std" value="0.02"/>		  ### [m] Range of the white noise added on each iteration
		<param name="/gas_type" value="0" />					  ### 0=Ethanol, 6=Acetone
		<param name="/temperature" value="298"/>				  ### Kelvins
		<param name="/pressure" value="1"/>					   ### Atm   		
		<param name="/concentration_unit_choice" value="1"/>	  ### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)				
				
		# In the Env.csv file we set: cell_size, num_cells, etc.
		<param name="/occupancy3D_data" value="/media/jgmonroy/Data/3-DATASETS/DataSet_CFD_Simulation/MAPIRlab_furniture/Wind_simulations/MAPIRlab_Furniture_SimScale_Simulation_W3/OccupancyGrid3D.csv" />
		<param name="/fixed_frame" value="$(arg FixedFrame)"/>
		
		<param name="/wind_data" value="/media/jgmonroy/Data/3-DATASETS/DataSet_CFD_Simulation/MAPIRlab_furniture/Wind_simulations/MAPIRlab_Furniture_SimScale_Simulation_W3/wind_at_cell_center_points_" />
		<param name="/wind_time_step" value="1" />			  # (sec) time increment between Wind snapshots		
		
		<param name="/source_position_x" value="-4.0"/>   # (m)
		<param name="/source_position_y" value="2.0"/>   # (m)
		<param name="/source_position_z" value="1"/>	  # (m)
		
		<param name="/save_results" value="1" />		 #1=true, 0=false
		<param name="/restuls_time_step" value="0.5" />  #(sec) Time increment between saving state to file
		<param name="/results_location" value="/home/jgmonroy/logs_gas_dipersion_simulator" />
	</node>
	
	
	### Filament Simulator (F) ###
	<node pkg="filament_simulator" type="filament_simulator" name="filament_simulator4" output="screen">		
		<param name="/sim_time" value="300" />					### [sec] Total time of the gas dispersion simulation
		<param name="/time_step" value="0.1" />				   ### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
		<param name="/num_filaments_sec" value="10" />			### Num of filaments released each second	   
		<param name="/ppm_filament_center" value="10"/>		   ### [ppm] Gas concentration at the center of the 3D gaussian (filament)
		<param name="/filament_initial_std" value="10"/>		  ### [cm] Sigma of the filament at t=0-> 3DGaussian shape
		<param name="/filament_growth_gamma" value="10"/>		 ### [cm²/s] Growth ratio of the filament_std
		<param name="/filament_noise_std" value="0.02"/>		  ### [m] Range of the white noise added on each iteration
		<param name="/gas_type" value="0" />					  ### 0=Ethanol, 6=Acetone
		<param name="/temperature" value="298"/>				  ### Kelvins
		<param name="/pressure" value="1"/>					   ### Atm   		
		<param name="/concentration_unit_choice" value="1"/>	  ### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)				
				
		# In the Env.csv file we set: cell_size, num_cells, etc.
		<param name="/occupancy3D_data" value="/media/jgmonroy/Data/3-DATASETS/DataSet_CFD_Simulation/MAPIRlab_furniture/Wind_simulations/MAPIRlab_Furniture_SimScale_Simulation_W3/OccupancyGrid3D.csv" />
		<param name="/fixed_frame" value="$(arg FixedFrame)"/>
		
		<param name="/wind_data" value="/media/jgmonroy/Data/3-DATASETS/DataSet_CFD_Simulation/MAPIRlab_furniture/Wind_simulations/MAPIRlab_Furniture_SimScale_Simulation_W3/wind_at_cell_center_points_" />
		<param name="/wind_time_step" value="1" />			  # (sec) time increment between Wind snapshots		
		
		<param name="/source_position_x" value="-0.5"/>   # (m)
		<param name="/source_position_y" value="3.5"/>   # (m)
		<param name="/source_position_z" value="1"/>	  # (m)
		
		<param name="/save_results" value="1" />		 #1=true, 0=false
		<param name="/restuls_time_step" value="0.5" />  #(sec) Time increment between saving state to file
		<param name="/results_location" value="/home/jgmonroy/logs_gas_dipersion_simulator" />
	</node>   
	
-->	
	
</launch>




